.songRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 100;
    color: #fff;
}

.songRow:last-of-type {
    margin-bottom: 70px;
}

.songRow:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}

.songRow_info {
    margin-left: 20px;
}

.songRow_info > h1 {
    font-size: 15.5px;
}

.songRow_info > p {
    font-size: 13.5px;
    margin-top: 3px;
    color: #b3b3b3;
}

.songRow_album {
    height: 40px;
    width: 40px;
  }